<!--
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cartografia</title>
    <link rel="stylesheet" href="styles/index.css">
  </head>
  <body>
      <table>
          <tr>
            <th>Nome</th>
            <th>Email</th>
          </tr>
            <% users.forEach((user) => { %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
            </tr>
            <%  }) %>
      </table>
  </body>
</html>-->

<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0, width=device-width" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap"
    rel="stylesheet">
  <link href="styles/index.css" rel="stylesheet">
  <link rel="icon" href="img/logo.png">

  <title>Nova Cartografia Social</title>
</head>

<body>

  <header>
    <div class="header">

      <!--Content before waves-->
      <div class="inner-header flex">

        <img src="img/logo.png" class="logo" alt="Logo Nova Cartografia Social">

        <h1>Nova Cartografia Social</h1>
      </div>

      <!--Waves Container-->
      <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
        </svg>
      </div>
      <!--Waves end-->

    </div>
    <!--Header ends-->

  </header>

  <main>
    <div class="titulo-secundario">
      <h2>Análise de Solicitação de Cadastros</h2>
    </div>

    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Celular</th>
          <th>Perfil</th>
          <th>Afiliação</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% users.forEach((user)=> { %>
        <tr>
          <td data-title="Nome">
            <%= user.name %>
          </td>
          <td data-title="Email", id="email">
            <%= user.email %>
          </td>
          <td data-title="Celular">
            <%= user.cellPhone %>
          </td>
          <%if (user.type=='RESEARCHER') { %>

            <td data-title="Perfil">
                pesquisador
            </td>

            <td data-title="Afiliacao">
              <%= user.affiliation %>
            </td>

            <% } else if (user.type=='COMMUNITY_MEMBER') { %>

              <td data-title="Perfil">
                membro de comunidade
              </td>

              <td data-title="Afiliacao">
                <%= user.community %>
              </td>

              <% } else {%>

                <td data-title="Perfil">
                  <%= user.type %>
                </td>
  
                <td data-title="Afiliacao">
                  <%= user.community %>
                </td>

              <% } %>

                <td>
                  <button class="aceitar" onclick="">Aceitar</button>
                </td>
                <td>
                  <button class="recusar" onclick="">Recusar</button>
                </td>
        </tr>
        <% }) %>
          </tr>

      </tbody>
    </table>
  </main>

</body>

</html>